<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{img}}" data-edit="img" title="{{name}}" height="64" width="64" />
    <div>
      <h1><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
    </div>
  </header>
  <div class="sheet-content">
    <div class="grid grid-3col">
      <div class="flex-group-left">
        <label for="system.weight">{{localize "wh3e.item.weight"}}</label>
        <div class="flexrow flex-center">
          {{> selectOptions field="system.weight" selected=system.weight options=config.gearWeightTypes}}
        </div>
      </div>
      <div class="flex-group-center">
        <label for="system.quantity">{{localize "wh3e.item.quantity"}}</label>
        <input id="system.quantity" class="gear-quantity-input" name="system.quantity" type="text"
               value="{{system.quantity}}"
               data-dtype="Number" />
      </div>
      <div class="flex-group-center" style="padding-right: 0;">
        <label for="system.cost">{{localize "wh3e.item.cost"}}</label>
        <div class="flexrow flex-center paired-inputs">
          <input name="system.cost" type="text" class="center-text" value={{system.cost}}
                 data-dtype="Number" />
          {{> selectOptions field="system.costCoinType" selected=system.costCoinType options=config.coinTypes}}
        </div>
      </div>
    </div>
    <div class="full-height-field">
      <label for="system.description" style="font-weight: bold;">{{localize "wh3e.item.description"}}</label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>