<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-info">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
      <div class="grid grid-4col">
        <div class="flex-group-center" title="{{localize "wh3e.item.armourClass"}}">
          <label for="system.combat.armourClass">{{localize "wh3e.actor.armourClass"}}</label>
          <div class="flexrow flex-center">
            {{> selectOptions field="system.combat.armourClass" selected=system.combat.armourClass options=config.monsterArmourClasses}}
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.combat.hitDice.base">{{localize "wh3e.actor.hitDice"}}</label>
          <div class="flexrow flex-center">
            <input type="text" name="system.combat.hitDice.base" value="{{system.combat.hitDice.base}}"
                   data-dtype="Number" class="hitDiceBase" title="{{localize "wh3e.tooltip.monsterHDInfo"}}" />
            <span> + </span>
            <input type="text" name="system.combat.hitDice.modifier" value="{{system.combat.hitDice.modifier}}"
                   data-dtype="String" title="{{localize "wh3e.tooltip.monsterHDAnyValue"}}" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.hitPoints.value">{{localize "wh3e.actor.hitpoints"}}</label>
          <div class="flexrow flex-center">
            <input type="text" name="system.hitPoints.value" value="{{system.hitPoints.value}}" data-dtype="Number"
                   title="{{localize "wh3e.tooltip.hpCurrent"}}" />
            <span> / </span>
            <input type="text" name="system.hitPoints.max" value="{{system.hitPoints.max}}" data-dtype="Number"
                   title="{{localize "wh3e.tooltip.hpMax"}}" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.movement">{{localize "wh3e.actor.movement"}}</label>
          <div class="flexrow flex-center">
            <input type="text" name="system.movement" value="{{system.movement}}"
                   data-dtype="Number" title="{{localize "wh3e.tooltip.movement"}}" />
          </div>
        </div>
      </div>
      <div class="grid grid-5col">
        <div class="flex-group-center">
          <label for="system.damage" class="rollable damage-roll">{{localize "wh3e.item.damage"}}</label>
          <div class="flexrow flex-center">
            {{> selectOptions field="system.damage" selected=system.damage options=config.damageDice}}
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.savingThrow" class="rollable savingThrow"><i
               class="fas fa-dice"></i>&nbsp;{{localize "wh3e.actor.savingThrow"}}</label>
          <div class="flexrow flex-center">
            <input type="text" name="system.savingThrow" value="{{system.savingThrow}}" class="read-only"
                   data-dtype="Number" readonly="readonly" title="{{localize "wh3e.tooltip.monsterSavingThrow"}}" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.combat.attackValue" class="rollable attack-roll"><i
               class="fas fa-dice"></i>&nbsp;{{localize "wh3e.actor.attackValue"}}</label>
          <div class="flexrow flex-center">
            <input type="text" name="system.combat.attackValue" value="{{system.combat.attackValue}}" class="read-only"
                   data-dtype="Number" readonly="readonly" title="{{localize "wh3e.tooltip.monsterAttackValue"}}" />
          </div>
        </div>
        <div class="flex-group-center">
          {{#if hasToken}}
            <label for="system.attributes.dex.mod" class="rollable init-label"><i
                 class="fas fa-dice"></i>&nbsp;{{localize "wh3e.actor.initiative"}}</label>
          {{else}}
            <label for="system.attributes.dex.mod">{{localize "wh3e.actor.initiative"}}</label>
          {{/if}}
          <div class="flexrow flex-center">
            <input type="text" name="system.attributes.dex.mod" value="{{system.attributes.dex.mod}}"
                   data-dtype="Number" title="{{localize "wh3e.tooltip.initiative"}}" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.xp">{{localize "wh3e.actor.monster.xp"}}</label>
          <div class="flexrow flex-center">
            <input type="text" name="system.xp" value="{{system.xp}}"
                   data-dtype="Number" title="{{localize "wh3e.tooltip.monsterXP"}}" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="sheet-content">
    <div class="full-width-field">
      <label for="system.special" style="font-weight: bold;">{{localize "wh3e.item.special"}}</label>
      <input id="system.special" name="system.special" type="text" value="{{system.special}}" data-dtype="String" />
    </div>
    <div class="actor-notes">
      <label for="system.notes" style="font-weight: bold;">{{localize "wh3e.item.notes"}}</label>
      {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>