<div class="tab abilities" data-group="primary" data-tab="abilities">
  <table class="fixed_header">
    <thead>
      <tr>
        <th class="item-image"></th>
        <th class="align-left ability-name-column">{{localize "wh3e.item.name"}}</th>
        <th class="ability-type-column">{{localize "wh3e.item.type"}}</th>
        <th class="item-controls">
          <a class="item-create" data-type="Ability" title="{{localize " wh3e.sheet.addAbility"}}">
            <i class="fas fa-plus"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each abilities as |ability id|}}
      <tr data-item-id="{{ability._id}}">
        <td class="item-image">
          <a class="item-description">
            <span class="item-info" style="background-image: url({{ability.img}})"></span>
          </a>
        </td>
        <td class="align-left ability-name-column">
          <span>{{ability.name}}</span>
        </td>
        <td class="ability-type-column">
          <span>{{getTextFromKey "wh3e.abilityType" ability.data.type}}</span>
        </td>
        <td class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>