<div class="tab armour" data-group="primary" data-tab="armour">
  <table class="fixed_header">
    <thead>
      <tr>
        <th class="item-image"></th>
        <th class="align-left armour-name-column">{{localize "wh3e.item.name"}}</th>
        <th class="armour-ac-column">{{localize "wh3e.item.armourClass"}}</th>
        {{> controlsEditDeleteHeader title=(localize "wh3e.sheet.addArmour") type="Armour"}}
      </tr>
    </thead>
    <tbody>
      {{#each armour as |armour id|}}
      <tr data-item-id="{{armour._id}}">
        <td class="item-image">
          <a class="item-description">
            <span class="item-info" style="background-image: url({{armour.img}})"></span>
          </a>
        </td>
        <td class="align-left armour-name-column">
          <span>{{armour.name}}</span>
        </td>
        <td class="armour-ac-column">
          <span>{{getTextFromKey "wh3e.armourClasses" armour.data.armourClass}}</span>
        </td>
        {{> controlsEditDelete editTitle=(localize "wh3e.sheet.editArmour") deleteTitle=(localize
        "wh3e.sheet.deleteArmour") }}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>