<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
<div class="header-info">
  <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
  <div class="grid grid-8col">
    <div class="flex-group-center grid-span-1-3">
      <label for="data.basics.class">{{localize "wh3e.actor.class"}}</label>
      <div class="flexrow flex-center flex-between">
        {{> selectOptions field="data.basics.class" selected=data.basics.class options=config.classes}}
      </div>
    </div>
    <div class="flex-group-center grid-span-4-4">
      <label for="data.basics.vocation">{{localize "wh3e.actor.vocation"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.basics.vocation" value="{{data.basics.vocation}}" data-dtype="String"
               class="read-only" readonly="readonly" />
      </div>
    </div>
    <div class="flex-group-center">
      <label for="data.basics.level">{{localize "wh3e.actor.level"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.basics.level" value="{{data.basics.level}}" data-dtype="Number" />
      </div>
    </div>
  </div>
  <div class="grid grid-8col">
    <div class="flex-group-center grid-span-1-3">
      <label for="data.species">{{localize "wh3e.actor.species"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.basics.species" value="{{data.basics.species}}" data-dtype="String"
               class="read-only" readonly="readonly" />
      </div>
    </div>
    <div class="flex-group-center grid-span-4-2">
      <label for="data.savingThrow" class="rollable savingThrow" data-roll-for="savingThrow"><i
           class="fas fa-dice"></i>&nbsp;{{localize
        "wh3e.actor.savingThrow"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.savingThrow" value="{{data.savingThrow}}" data-dtype="Number" />
      </div>
    </div>
    <div class="flex-group-center">
      <label for="data.basics.numberOfSlots">{{localize "wh3e.actor.slots"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.basics.numberOfSlots" value="{{data.basics.numberOfSlots}}" data-dtype="Number" />
      </div>
    </div>
    <div class="flex-group-center">
      <label for="data.basics.numberOfGroups">{{localize "wh3e.actor.groups"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.basics.numberOfGroups" value="{{data.basics.numberOfGroups}}"
               data-dtype="Number" />
      </div>
    </div>
    <div class="flex-group-center">
      <label for="data.corruptionLevel.value">{{localize "wh3e.actor.corruption"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.corruptionLevel.value" value="{{data.corruptionLevel.value}}"
               data-dtype="Number" />
      </div>
    </div>
  </div>
  <div class="grid grid-8col">
    <div class="flex-group-center">
      <label for="data.combat.armourClass">{{localize "wh3e.actor.armourClass"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.combat.armourClass" value="{{data.combat.armourClass}}" data-dtype="Number"
               class="read-only" readonly="readonly" />
      </div>
    </div>
    <div class="flex-group-center">
      <label for="data.combat.attackValue">{{localize "wh3e.actor.attackValue"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.combat.attackValue" value="{{data.combat.attackValue}}" data-dtype="Number" />
      </div>
    </div>
    <div class="flex-group-center">
      <label for="data.movement">{{localize "wh3e.actor.movement"}}</label>
      <div class="flexrow flex-center flex-between">
        <input type="text" name="data.movement" value="{{data.movement}}" data-dtype="Number" />
      </div>
    </div>
    {{#if hasToken}}
    <div class="flex-group-center grid-span-4-2">
      {{else}}
      <div class="flex-group-center grid-span-4-3">
        {{/if}}
        <label for="data.encumbrance.equipped">{{localize "wh3e.actor.encumbrance"}}</label>
        <div class="flexrow flex-center flex-between">
          <input type="text" name="data.encumbrance.equipped" id="data.encumbrance.equipped"
                 value="{{decimals data.encumbrance.equipped}}"
                 data-dtype="Number"
                 class="read-only{{#if (encumbered data.encumbrance.equipped 10) }} encumbered{{/if}}"
                 readonly="readonly" />
          <input type="text" name="data.encumbrance.stored" id="data.encumbrance.stored"
                 value="{{decimals data.encumbrance.stored}}"
                 data-dtype="Number"
                 class="read-only{{#if (encumbered data.encumbrance.stored 5) }} encumbered{{/if}}"
                 readonly="readonly" />
        </div>
      </div>
      {{#if hasToken}}
      <div class="flex-group-center">
        <div class="rollable savingThrow">
          <label class="init-label">{{localize "wh3e.actor.initiative"}}
            <span><i class="fas fa-dice"></i></span>
          </label>
        </div>
      </div>
      {{/if}}
      <div class="flex-group-center grid-span-7-2">
        <label for="data.hitPoints.value">{{localize "wh3e.actor.hitpoints"}}</label>
        <div class="flexrow flex-center flex-between">
          <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number" />
          <span> / </span>
          <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </div>