<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
<!-- TO DO: Remove unused styles e.g. resources, resource, resource-content -->
<div>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    <div class="resources grid grid-4col">
      {{!-- "flex-group-center" is also defined in the _grid.scss file
      and it will add a small amount of padding, a border, and will
      center all of its child elements content and text. --}}
      <div class="resource flex-group-center grid-span-1-2">
          <label for="data.hitPoints.value" class="resource-label">{{localize "wh3e.resource.hitpoints"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number"/>
          </div>
      </div>
      <div class="resource flex-group-center">
        <label for="data.basics.level.value" class="resource-label">{{localize "wh3e.resource.level"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.basics.level.value" value="{{data.basics.level.value}}" data-dtype="Number"/>
        </div>        
      </div>
      <div class="resource flex-group-center">
        <label for="data.basics.slots.value" class="resource-label">{{localize "wh3e.resource.slots"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.basics.slots.value" value="{{data.basics.slots.value}}" data-dtype="Number"/>
        </div>
      </div>
  </div>
  <div class="resources grid grid-3col">
    <div class="resource flex-group-center">
      <label for="data.basics.class" class="resource-label">{{localize "wh3e.resource.class"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="data.basics.class" value="{{data.basics.class}}" data-dtype="String"/>
      </div>
    </div>
    <div class="resource flex-group-center grid-span-2-3">
      <label for="data.basics.vocation" class="resource-label">{{localize "wh3e.resource.vocation"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="data.basics.vocation" value="{{data.basics.vocation}}" data-dtype="String"/>
      </div>
    </div>
  </div>
</div>