<div class="tab gear" data-group="primary" data-tab="gear">
  <table class="fixed_header">
    <thead>
      <tr>
        <th class="item-image"></th>
        <th class="align-left gear-name-column">{{localize "wh3e.item.name"}}</th>
        <th class="gear-weight-column">{{localize "wh3e.item.weight"}}</th>
        {{> itemControlsHeader title=(localize "wh3e.sheet.addGear") type="Gear"}}
      </tr>
    </thead>
    <tbody>
      {{#each gear as |gear id|}}
      <tr data-item-id="{{gear._id}}">
        <td class="item-image">
          <a class="item-description">
            <span class="item-info" style="background-image: url({{gear.img}})"></span>
          </a>
        </td>
        <td class="align-left gear-name-column">
          <span>{{gear.name}}</span>
        </td>
        <td class="gear-weight-column">
          <span>{{getTextFromKey "wh3e.weightTypes" gear.data.weight}}</span>
        </td>
        {{> itemControls }}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>