<div class="tab weapons" data-group="primary" data-tab="weapons">
  <table class="fixed_header">
    <thead>
      <tr class="weapons">
        <th class="item-image"></th>
        <th class="align-lef weapon-name">{{localize "wh3e.item.name"}}</th>
        <th>{{localize "wh3e.item.damage"}}</th>
        <th>{{localize "wh3e.item.weight"}}</th>
        <th>{{localize "wh3e.item.range"}}</th>
        <th>{{localize "wh3e.item.rateOfFire"}}</th>
        {{> itemControlsHeader title=(localize "wh3e.sheet.addWeapon") type="Weapon"}}
      </tr>
    </thead>
    <tbody>
      {{#each weapons as |weapon id|}}
      <tr data-item-id="{{weapon._id}}" class="weapons">
        <td class="item-image">
          <a class="attack-roll">
            <span class="weapon-rollable" style="background-image: url({{weapon.img}})"></span>
          </a>
        </td>
        <td class="align-left weapon-name">
          <span>{{weapon.name}}</span>
        </td>
        <td>
          <span>{{getTextFromKey "wh3e.damageDice" weapon.data.damage}}</span>
        </td>
        <td>
          <span>{{getTextFromKey "wh3e.weightTypes" weapon.data.weight}}</span>
        </td>
        <td>
          <span>{{weapon.data.range}}</span>
        </td>
        <td>
          <span>{{getTextFromKey "wh3e.roFShotsPerRound" weapon.data.rateOfFire}}</span>
        </td>
        {{> itemControls }}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>