<div class="tab weapons" data-group="primary" data-tab="weapons">
  <table class="fixed_header">
    <thead>
      <tr class="weapons">
        <th class="item-image"></th>
        <th class="align-left">{{localize "wh3e.item.name"}}</th>
        <th>{{localize "wh3e.item.damage"}}</th>
        <th>{{localize "wh3e.item.weight"}}</th>
        <th>{{localize "wh3e.item.range"}}</th>
        <th>{{localize "wh3e.item.rateOfFire"}}</th>
        <th class="item-controls">
          <a class="item-create" data-type="Weapon" title="{{localize " wh3e.sheet.addWeapon"}}">
            <i class="fas fa-plus"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each weapons as |weapon id|}}
      <tr data-item-id="{{weapon._id}}" class="weapons">
        <td class="item-image">
          <a class="item-roll">
            <span class="weapon-rollable" style="background-image: url({{weapon.img}})"></span>
          </a>
        </td>
        <td class="align-left">
          <span>{{weapon.name}}</span>
        </td>
        <td>
          <span>{{getTextFromKey "wh3e.damageDice" weapon.data.damage}}</span>
        </td>
        <td>
          <span>{{getTextFromKey "wh3e.weightTypes" weapon.data.weight}}</span>
        </td>
        <td>
          <span>{{weapon.data.range}}</span>
        </td>
        <td>
          <span>{{getTextFromKey "wh3e.roFShotsPerRound" weapon.data.rateOfFire}}</span>
        </td>
        <td class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>