    <div class="tab weapons" data-group="primary" data-tab="weapons">
      <div class="item-list">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>{{localize "wh3e.item.name"}}</th>
              <th>{{localize "wh3e.item.damage"}}</th>
              <th>{{localize "wh3e.item.weight"}}</th>
              <th>{{localize "wh3e.item.range"}}</th>
              <th>{{localize "wh3e.item.rateOfFire"}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each weapons as |weapon id|}}
            <tr data-item-id="{{weapon._id}}">
              <td>
                <img src="{{weapon.img}}" title="{{name}}" width="24" height="24"/>
              </td>
              <td>
                <span>{{weapon.name}}</span>
              </td>
              <td>
                <span>{{getTextFromKey "wh3e.damageDice" weapon.data.damage}}</span>
              </td>
              <td>
                <span>{{getTextFromKey "wh3e.weightTypes" weapon.data.weight}}</span>
              </td>
              <td>
                <span>{{weapon.data.range}}</span>
              </td>
              <td>
                <span>{{getTextFromKey "wh3e.roFShotsPerRound" weapon.data.rateOfFire}}</span>
              </td>
              <td>
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
