<div class="tab abilities" data-group="primary" data-tab="abilities">
  <table class="fixed_header">
    <thead>
      <tr>
        <th class="item-image"></th>
        <th class="align-left ability-name">{{localize "wh3e.item.name"}}</th>
        <th class="ability-type">{{localize "wh3e.item.type"}}</th>
        <th class="ability-activated">{{localize "wh3e.item.active"}}</th>
        {{> controlsEditDeleteHeader title=(localize "wh3e.sheet.addAbility") type="Ability"}}
      </tr>
    </thead>
    <tbody>
      {{#each abilities as |ability id|}}
      <tr data-item-id="{{ability._id}}">
        <td class="item-image">
          <a class="item-description">
            <span class="item-info" style="background-image: url({{ability.img}})"></span>
          </a>
        </td>
        <td class="align-left ability-name" title="{{{stripHtml ability.data.description}}}">
          <span>{{ability.name}}</span>
        </td>
        <td class="ability-type">
          <span>{{getTextFromKey "wh3e.abilityType" ability.data.type}}</span>
        </td>
        <td class="ability-activated">
          <a class="item-control" title="{{localize "wh3e.sheet.activateDeactivate"}} {{ability.name}}"><i
               class="fas fa-check-square {{ability.data.activeStatus}}"></i></a>
        </td>
        {{> controlsEditDelete editTitle=(localize "wh3e.sheet.editAbility") deleteTitle=(localize
        "wh3e.sheet.deleteAbility") }}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>