<div class="tab attributes" data-group="primary" data-tab="attributes">
  <div class="stats">
    <div class="headings flexrow flex-group-center">
      <span class="flex-grow1">{{localize "wh3e.category.attr"}}</span>
      <span class="flex-grow1">{{localize "wh3e.attribute.score"}}</span>
      <span class="flex-grow12"
            title="{{localize "wh3e.sheet.activeGroupsRequired"}}">{{localize "wh3e.actor.groups"}}</span>
    </div>
    {{#each system.attributes as |attribute key|}}
    <div class="attribute flexrow flex-group-center">
      <label for="system.attributes.{{key}}.value" class="flex-grow1 rollable" data-roll-for="{{key}}"><span
              class="fas fa-dice"></span>{{getTextFromKey "wh3e.attribute" key}}</label>
      <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number"
             class="flex-grow1 attribute-score" />
      {{!-- Crappy data scoping issue in Handlebars took me ages to figure out, need to use ../
      in nested component to access parent data. F'n stupid I know --}}
      {{#if (showModifier key ../charClass)}}
      {{#if (eq key 'str')}}
      <div title="{{localize "wh3e.tooltip.strMod"}}"
           class="flex-grow1 modifier">{{attribute.mod}}/{{attribute.dmgMod}}</div>
      {{else}}
      <div title="{{getTextFromKey "wh3e.tooltip" key "Mod"}}"
           class="flex-grow1 modifier">{{attribute.mod}}</div>
      {{/if}}
      {{/if}}
      <input type="text" name="system.attributes.{{key}}.groups" value="{{attribute.groups}}" data-dtype="String"
             class="flex-grow12 groups read-only" readonly="readonly"
             title="{{attribute.groups}}" />
      <div class="flex-grow1">
        {{#if ../hasGroups}}
        <a class="manage-groups" data-groups-for="{{key}}"
           title="{{localize "wh3e.tooltip.manageGroups"}} {{upper key}}"><i
             class="fas fa-bars"></i></a>
        {{/if}}
        <a class="clear-groups" data-groups-for="{{key}}"
           title="{{localize "wh3e.actor.clearGroupsFor"}} {{upper key}}"><i
             class="fas fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>