<div class="tab weapons" data-group="primary" data-tab="weapons">
  <table class="fixed_header">
    <thead>
      <tr class="weapons">
        <th class="item-image"></th>
        <th class="align-left weapon-name">{{localize "wh3e.item.name"}}</th>
        <th class="weapon-damage">{{localize "wh3e.item.damage"}}</th>
        <th>{{localize "wh3e.item.weight"}}</th>
        <th>{{localize "wh3e.item.range"}}</th>
        <th>{{localize "wh3e.item.rateOfFire"}}</th>
        <th class="equippable">{{localize "wh3e.item.equipped"}}</th>
        {{> controlsEditDeleteHeader title=(localize "wh3e.sheet.addWeapon") type="Weapon"}}
      </tr>
    </thead>
    <tbody class="item-list">
      {{#each weapons as |weapon id|}}
        <tr data-item-id="{{weapon._id}}" class="weapons item">
          <td class="item-image">
            <a class="attack-roll">
              <span class="weapon-rollable" style="background-image: url({{weapon.img}})"></span>
            </a>
          </td>
          <td class="align-left weapon-name" title="{{{stripHtml weapon.system.description}}}">
            <span>{{weapon.name}}</span>
          </td>
          <td class="weapon-damage">
            <span>{{getTextFromKey "wh3e.damageDice" weapon.system.damage}}</span>
          </td>
          <td>
            <span>{{getTextFromKey "wh3e.weightTypes" weapon.system.weight}}</span>
          </td>
          <td>
            <span>{{weapon.system.range}}</span>
          </td>
          <td>
            <span>{{getTextFromKey "wh3e.roFShotsPerRound" weapon.system.rateOfFire}}</span>
          </td>
          {{> controlsEquipStore name=weapon.name status=weapon.system.equippedStatus}}
          {{> controlsEditDelete editTitle=(localize "wh3e.sheet.editWeapon") deleteTitle=(localize
        "wh3e.sheet.deleteWeapon") }}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>