<div class="dice-roll">
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
</div>
<h3>{{weapon}} attack vs target {{toHitTarget}}{{acSuccess}}</h3>
{{{toHitTemplate}}}
<br />
{{#if attackHit}}
<h3>{{weapon}} hits for {{damageResult}} damage</h3>
{{{damageTemplate}}}
{{/if}}