<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <div>
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>
  <div class="sheet-content">
    <div class="full-width-field">
      <label for="data.type">{{localize "wh3e.item.type"}}</label>
      <select id="data.type" name="data.type">
        {{#select data.type}}
        {{#each config.abilityTypes as |ability type|}}
        <option value="{{type}}">{{localize ability}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="full-height-field">
      <label for="data.description" style="font-weight: bold;">{{localize "wh3e.item.description"}}</label>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>