<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{img}}" data-edit="img" title="{{name}}" height="64" width="64" />
    <div>
      <h1><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
    </div>
  </header>
  <div class="sheet-content">
    <div class="grid grid-2col">
      <div class="flex-group-left">
        <label for="data.armourClass" class="left-text">{{localize "wh3e.item.armourClass"}}</label>
        <div class="flexrow flex-center paired-inputs">
          {{> selectOptions field="data.armourClass" selected=data.armourClass options=config.armourClasses}}
        </div>
      </div>
      <div class="flex-group-center" style="padding-right: 0;">
        <label for="data.cost">{{localize "wh3e.item.cost"}}</label>
        <div class="flexrow flex-center paired-inputs">
          <input name="data.cost" type="text" class="center-text" value={{data.cost}}
                 data-dtype="Number" />
          {{> selectOptions field="data.costCoinType" selected=data.costCoinType options=config.coinTypes}}
        </div>
      </div>
    </div>
    <div class="full-height-field">
      <label for="data.description" style="font-weight: bold;">{{localize "wh3e.item.description"}}</label>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>