<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-info">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="grid grid-4col">
        <div class="flex-group-left">
          <label for="data.combat.armourClass">{{localize "wh3e.actor.armourClass"}}</label>
          <div class="flexrow flex-center flex-between">
            {{> selectOptions field="data.combat.armourClass" selected=data.combat.armourClass options=config.monsterArmourClasses}}
          </div>
        </div>
        <div class="flex-group-center">
          <label for="data.combat.hitDice.base">{{localize "wh3e.actor.hitDice"}}</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="data.combat.hitDice.base" value="{{data.combat.hitDice.base}}"
                   data-dtype="Number" class="hitDiceBase" />
            <span> + </span>
            <input type="text" name="data.combat.hitDice.modifier" value="{{data.combat.hitDice.modifier}}"
                   data-dtype="Number" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="data.hitPoints.value">{{localize "wh3e.actor.hitpoints"}}</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="data.movement">{{localize "wh3e.actor.movement"}}</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="data.movement" value="{{data.movement}}"
                   data-dtype="Number" />
          </div>
        </div>
      </div>
      <div class="grid grid-4col">
        <div class="flex-group-left">
          <label for="data.damage" class="rollable damage-roll">{{localize "wh3e.item.damage"}}</label>
          <div class="flexrow flex-center flex-between">
            {{> selectOptions field="data.damage" selected=data.damage options=config.damageDice}}
          </div>
        </div>
        <div class="flex-group-center">
          <label for="data.savingThrow" class="rollable savingThrow"><i
               class="fas fa-dice"></i>&nbsp;{{localize "wh3e.actor.savingThrow"}}</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="data.savingThrow" value="{{data.savingThrow}}" class="read-only"
                   data-dtype="Number" readonly="readonly" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="data.combat.attackValue" class="rollable attack-roll"><i
               class="fas fa-dice"></i>&nbsp;{{localize "wh3e.actor.attackValue"}}</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="data.combat.attackValue" value="{{data.combat.attackValue}}" class="read-only"
                   data-dtype="Number" readonly="readonly" />
          </div>
        </div>
        <div class="flex-group-center">
          <label for="data.xp">{{localize "wh3e.actor.monster.xp"}}</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="data.xp" value="{{data.xp}}"
                   data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="sheet-content">
    <div class="full-width-field">
      <label for="data.special" style="font-weight: bold;">{{localize "wh3e.item.special"}}</label>
      <input id="data.special" name="data.special" type="text" value="{{data.special}}" data-dtype="String" />
    </div>
    <div class="full-height-field">
      <label for="data.notes" style="font-weight: bold;">{{localize "wh3e.item.notes"}}</label>
      {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>