<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{img}}" data-edit="img" title="{{name}}" height="64" width="64" />
    <div>
      <h1><input name="name" type="text" value="{{name}}" placeholder="Name" />
      </h1>
    </div>
  </header>
  <div class="sheet-content">
    <table>
      <tr class="flex-center">
        <th>{{localize "wh3e.item.damage"}}</th>
        <th>{{localize "wh3e.item.weight"}}</th>
        <th>{{localize "wh3e.item.range"}}</th>
        <th>{{localize "wh3e.item.rateOfFire"}}</th>
        <th>{{localize "wh3e.item.cost"}}</th>
      </tr>
      <tr class="flex-center">
        <td>
          {{> selectOptions field="data.damage" selected=data.damage options=config.damageDice}}
        </td>
        <td>
          {{> selectOptions field="data.weight" selected=data.weight options=config.weaponWeightTypes}}
        </td>
        <td>
          <input name="data.range" type="text" class="center-text" value={{data.range}}
                 data-dtype="Number" />
        </td>
        <td>
          {{> selectOptions field="data.rateOfFire" selected=data.rateOfFire options=config.roFShotsPerRound}}
        </td>
        <td>
          <input name="data.cost" type="text" class="center-text input-small" value={{data.cost}}
                 data-dtype="Number" />
          {{> selectOptions field="data.costCoinType" selected=data.costCoinType options=config.coinTypes}}
        </td>
      </tr>
    </table>
    <div class="full-width-field">
      <label for="data.special">{{localize "wh3e.item.special"}}</label>
      <input id="data.special" name="data.special" type="text" value="{{data.special}}"
             data-dtype="String" />
    </div>
    <div class="full-height-field">
      <label for="data.description">{{localize "wh3e.item.description"}}</label>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>